@inherits LayoutComponentBase

<div class="d-flex flex-column w-100 h-100">
    <div class="p-0 m-0">
        <NavMenu />
    </div>

    <div class="p-4 contentBody">
        @Body
    </div>
</div>

